<nav class="d-flex justify-content-center mt-3 mb-1">
    <ul class="pagination">
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link" href="{% if page_obj.has_previous %}?page=1{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">
                <span aria-hidden="true">Первая</span>
            </a>
        </li>
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% for p in page_obj.paginator.page_range %}
        <li class="page-item {% if p == page_obj.number %}active{% endif %}">
            <a class="page-link" href="?page={{ p }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">
                <span aria-hidden="true">{{ p }}</span>
            </a>
        </li>
        {% endfor %}
        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.paginator.num_pages }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">
                <span aria-hidden="true">Последняя</span>
            </a>
        </li>
    </ul>
</nav>