{% extends 'block/base.html' %}
{% block title %}Question-Ask{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <ul id="sortOption" class="nav nav-tabs">
                <li class="nav-item">
                    <button id="new" class="nav-link active" onclick="changeOption('new')">Новые</button>
                </li>
                <li class="nav-item">
                    <button id="popular" class="nav-link" onclick="changeOption('popular')">Популярные</button>
                </li>
            </ul>
            <div id="questions"></div>
            <nav class="d-flex justify-content-center mt-3 mb-1">
                <ul id="paginator" class="pagination"></ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{% load static %}
<script src="{% static 'scripts/index.js' %}" defer></script>
{% endblock %}