{% extends 'block/base.html' %}
{% block title %}New questions{% endblock %}
{% block content %}
<div class="container">
    <h2 class="text-center my-3">Новые вопросы</h2>
    <div class="row justify-content-center">
    {% for question in page_obj %}
        <a class="card w-75 text-decoration-none text-reset my-2" href="{% url 'qa:question' question.id %}">
            <div class="card-body">
                <h5 class="card-title">{{ question.title }}</h5>
                <p class="card-text">{{ question.text }}</p>
            </div>
        </a>
    {% endfor %}
    </div>
    {% include 'block/pagination.html' %}
</div>
{% endblock %}