{% extends 'block/base.html' %}
{% block title %}{{ question.title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'qa:index' %}">Список вопросов</a></li>
                        <li class="breadcrumb-item active">{{ question.title }}</li>
                    </ol>
                </nav>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <h3 class="card-title">{{ question.title }}</h3>
                                <h6 class="card-subtitle mt-2 mx-3 text-muted">{{ question.author }}</h6>
                            </div>
                            {% if user == question.author %}
                            <form method="post">
                            {% csrf_token %}
                            <button type="button" class="btn-close d-flex" onclick="AjaxRemoveQuestion('{% url 'qa:delete_question' %}', {{ question.id }}, '{% url 'qa:index' %}')" aria-label="Delete"></button>
                            </form>
                            {% endif %}
                        </div>
                        <p class="card-text my-3">{{ question.text }}</p>
                    </div>
                    <div class="d-flex justify-content-between px-3">
                        <time class="text-muted"><small>{{ question.added_at }}</small></time>
                        <div class="d-flex">
                            <h5 id="rating_{{ question.id }}" class="mx-2">{{ rating }}</h5>
                            <button id="like_{{ question.id }}" class="like mx-2 {{ is_like }}" onclick="like('{{ url_like }}')"></button>
                            <button id="dislike_{{ question.id }}" class="dislike {{ is_dislike }}" onclick="dislike('{{ url_dislike }}')"></button>
                        </div>
                    </div>
                </div>
                <h4 class="my-3">Ответы</h4>
                <div class="card my-3">
                    <h5 class="card-header">Оставьте свой ответ</h5>
                    <div class="card-body">
                        {% if user.is_authenticated %}
                        <form id="answer_form" method="post">
                            {% csrf_token %}
                            {{ form.text }}
                            <button type="submit" class="btn btn-primary mt-3">Отправить</button>
                        </form>
                        {% else %}
                        <p class="card-text">Для ответа на вопрос необходимо
                            <a href="{% url 'qa:login' %}">авторизоваться</a> или
                            <a href="{% url 'qa:signup' %}">зарегистрироваться</a>
                        </p>
                        {% endif %}
                    </div>
                </div>
                <ul id="sortOption" class="nav nav-tabs">
                    <li class="nav-item">
                        <button id="new" class="nav-link active" onclick="changeOption('new')">Новые</button>
                    </li>
                    <li class="nav-item">
                        <button id="popular" class="nav-link" onclick="changeOption('popular')">Популярные</button>
                    </li>
                </ul>
                <div id="answers"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
{% load static %}
<script src="{% static 'scripts/csrftoken.js' %}" defer></script>
<script src="{% static 'scripts/question.js' %}" defer></script>
<script src="{% static 'scripts/like_dislike.js' %}" defer></script>
{% endblock %}