{% extends 'block/base.html' %}
{% block title %}{{ question.title }}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'qa:index' %}">Список вопросов</a></li>
                        <li class="breadcrumb-item active">{{ question.title }}</li>
                    </ol>
                </nav>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">{{ question.title }}</h3>
                            {% if user == question.author %}
                            <form method="post">
                            {% csrf_token %}
                            <button type="button" class="btn-close d-flex" onclick="AjaxRemoveQuestion('{% url 'qa:delete_question' %}', {{ question.id }}, '{% url 'qa:index' %}')" aria-label="Delete"></button>
                            </form>
                            {% endif %}
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted">{{ question.author }}</h6>
                        <p class="card-text my-3">{{ question.text }}</p>
                        <time class="text-muted"><small>{{ question.added_at }}</small></time>
                    </div>
                </div>
                <h4 class="my-3">Ответы</h4>
                <div class="card">
                    <h5 class="card-header">Оставьте свой ответ</h5>
                    <div class="card-body">
                        {% if user.is_authenticated %}
                        <form id="answer_form" method="post">
                            {% csrf_token %}
                            {{ form.text|as_crispy_field }}
                            <button type="submit" class="btn btn-primary mt-3">Отправить</button>
                        </form>
                        {% else %}
                        <p class="card-text">Для ответа на вопрос необходимо
                            <a href="{% url 'qa:login' %}">авторизоваться</a> или
                            <a href="{% url 'qa:signup' %}">зарегистрироваться</a>
                        </p>
                        {% endif %}
                    </div>
                </div>
                <div id="answers">
                {% for answer in question.answers %}
                <div class="card my-3" id="{{ answer.id }}">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">{{ answer.author }}</h5>
                            {% if user == answer.author %}
                            <form method="post">
                            {% csrf_token %}
                            <button type="button" class="btn-close d-flex" onclick="AjaxRemoveAnswer('{% url 'qa:delete_answer' %}', {{ question.id }}, {{ answer.id }})" aria-label="Delete"></button>
                            </form>
                            {% endif %}
                        </div>
                        <p class="card-text">{{ answer.text }}</p>
                        <time class="text-muted"><small>{{ answer.added_at }}</small></time>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}