<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="control-group{% if field.errors %}has-error{% endif %}">
        <label class="control-label">{{ field.label }}</label>
        <div class="controls">{{ field }}</div>
    </div>
    {% endfor %}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">create</button>
    </div>
</form>
</body>
</html>