{% extends 'block/base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container my-auto">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            {% if form.errors %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
            {% endif %}
            <h2 class="text-center">Регистрация</h2>
            <form method="post" action="{% url 'qa:signup' %}">
                {% csrf_token %}
                <label class="form-label mt-2" for="InputUsername">Имя пользователя</label>
                {{ form.username|as_crispy_field }}
                <label class="form-label mt-2" for="InputPassword">Пароль</label>
                {{ form.password|as_crispy_field }}
                <label class="form-label mt-2" for="ReInputPassword">Повторите пароль</label>
                {{ form.repeat_password|as_crispy_field }}
                <button type="submit" class="btn btn-primary mt-3">Регистрация</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}